<h1>Stupid Coaching</h1>
<p>Ask your coach anything:</p>
<form action="/answer" method="get">
  <input type="text" name="question" placeholder="Ask something">
  <input type="submit" value="Ask!">
  <%= link_to "Ask a new question", "/ask" %>
</form>

